<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div>
            <h1>{{ message }}</h1>

            <p>Running on: {{ hostname }}</p>

            <div>
                <img src="/static/wizexercise.gif">
            </div>

            <ul>
                <li><a href="/backups">View Backups</a></li>
                <li><a href="/static/wizexercise.txt">View wizexercise.txt</a></li>
                <li>Hi Nick and Mischa!</li>
            </ul>
        </div>
    </div>
</body>
</html>